body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --primary-color: #a2b1f6;
  --secondary-color: #6a83f1;
  --third-color: #4361ee;
  --fourth-color: #1f44ea;
  --fifth-color: #1130bb;
  --sixth-color: #09185b;

  --font-color-1: white;
  --font-color-2: black;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  margin: 0px;
}
